@model List<WebBanCaPhe.Models.LoaiSanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Loại Sản Phẩm</h2>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="mdi mdi-check-all mr-2"></i>
        @TempData["Success"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="mdi mdi-check-all mr-2"></i>
        @TempData["Error"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
}
<div class="row mb-2">
    <div class="col-sm-4">
        <h4 class="card-title">Danh loại sản phẩm</h4>
    </div>
    <div class="col-sm-8">
        <div class="text-sm-right">
            <button type="button" class="btn btn-success btn-rounded waves-effect waves-light mb-2 mr-2" data-toggle="modal" data-target=".bs-example-modal-center"><i class="mdi mdi-plus mr-1"></i> Thêm tài khoản</button>
        </div>
    </div><!-- end col-->
</div>


@*form add*@
<div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Thêm mới nhà cung cấp</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="~/LoaiSanPham/ThemLoaiSanPham" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="formrow-password-input">Tên Loại Sản Phẩm</label>
                                <input type="text" class="form-control" id="formrow-hoten-input" name="TenLoai" required>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="formrow-password-input">Url_friendly</label>
                            <input type="text" class="form-control" id="formrow-hoten-input" name="Url_friendly" required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="formrow-password-input">Hình Ảnh</label>
                            <input type="text" class="form-control" id="formrow-hoten-input" name="HinhAnh" required>
                        </div>
                    </div>



                    <div>
                        <button type="submit" class="btn btn-primary w-md">Thêm mới</button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@*Data View*@
<table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
    <thead>
        <tr>
            <th>Tên Loại Sản Phẩm</th>
            <th>Url_friendly</th>
            <th>Hình Ảnh</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TenLoai</td>
                <td>@item.Url_friendly</td>
                <td>@item.HinhAnh</td>

                <td>
                    <a href="LoaiSanPham/SuaLoaiSanPham/@item.MaLoai" class="mr-3 text-primary"
                       data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                        <i class="mdi mdi-pencil font-size-18"></i>
                    </a>
                    <a href="LoaiSanPham/XoaLoaiSanPham/@item.MaLoai" class="text-danger delete"
                       data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" id="sa-warning">
                        <i class="mdi mdi-close font-size-18"></i>

                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section ClientScript{
    <!-- Required datatable js -->
    <script src="~/Assets/admin/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Assets/admin/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/Assets/admin/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Assets/admin/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>

    <script src="~/Assets/admin/libs/jszip/jszip.min.js"></script>
    <script src="~/Assets/admin/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Assets/admin/libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Assets/admin/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Assets/admin/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Assets/admin/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

    <!-- Responsive examples -->
    <script src="~/Assets/admin/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Assets/admin/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

    <!-- Sweet Alerts js -->
    <script src="~/Assets/admin/libs/sweetalert2/sweetalert2.min.js"></script>

    <!-- Sweet alert init js-->
    <script src="~/Assets/admin/js/pages/sweet-alerts.init.js"></script>

    <!-- Datatable init js -->
    <script src="~/Assets/admin/js/pages/datatables.init.js"></script>

    <!--Sweet Alert Codes-->
    <!--JQuery CDN-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!--Sweet Alert CDN-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $('.delete').on('click', function (e) {
            e.preventDefault();
            var self = $(this);
            console.log(self.data('title'));
            Swal.fire({
                title: 'Bạn Có Muốn Xóa?',
                text: "Bạn sẽ không thể khôi phục",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'Không',
                confirmButtonText: 'Có, Xóa Chúng'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Đã Xóa!',
                        'Loại Sản Phẩm Của Bạn Đã Xóa Thành Công.',
                        'success'
                    )
                    setTimeout(function redirect() {
                        location.href = self.attr('href');
                    }, 3000);
                }
            })

        })
    </script>
}